body {
  background-color: #3e4959;
}

.jumbotron {
  text-align: center;
  background: #f5f3f1;
}

.jumboPic {
  max-width: 300px;
  max-height: auto;
}

legend {
  color: #d0d5e0;
}

label {
  color: #d0d5e0;
}

.basic-well {
  background-color: #f5f3f1;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  background: #f5f3f1;
  padding: px;
  margin-top: 5px;
}

.container {
  text-align: center;
}

.css, .php, .ruby, .cSharp {
  display: none;
}


h2 {
  color: #3e4959;
}
